<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>install\surveyproject24testpackage.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/SurveyProject24</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SurveyProjectTestConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password='[dbpassword]&quot; providerName=&quot;System.Data.SqlClient'" Name="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]&quot; providerName=&quot;System.Data.SqlClient" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=spdev.database.windows.net;Initial Catalog=sp24azure;Persist Security Info=False;User ID=SPadmin@spdev;Password=SP$_admin17" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SurveyProjectTestConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=spdev.database.windows.net;Initial Catalog=sp24azure;Persist Security Info=False;User ID=SPadmin@spdev;Password=SP$_admin17" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SurveyProjectProdConnectionString" Order="2" Enabled="True">
          <Destination Path="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=[dbPRODservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SurveyProjectProdConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=[dbPRODservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="_DatabaseSql\SurveyProject_2.4_ExistingDBInstall_Mssql2014_Azure3.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SurveyProjectDevConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password='[dbpassword]&quot; providerName=&quot;System.Data.SqlClient'" Name="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]&quot; providerName=&quot;System.Data.SqlClient" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress16;Initial Catalog=sp25dev;Persist Security Info=True;User ID=sa;Password=12violins" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SurveyProjectDevConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress16;Initial Catalog=sp25dev;Persist Security Info=True;User ID=sa;Password=12violins" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SurveyProjectTestConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" providerName="System.Data.SqlClient</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SurveyProjectProdConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SurveyProjectDevConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" providerName="System.Data.SqlClient</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SurveyProjectDevConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" providerName="System.Data.SqlClient</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SurveyProjectProdConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SurveyProjectTestConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" providerName="System.Data.SqlClient</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>