<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="ResultsReport.aspx">
    <system.web>
      <authorization>
        <!-- * = all-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="CustomReport.aspx">
    <system.web>
      <authorization>
        <!-- * = all-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SsrsReport.aspx">
    <system.web>
      <authorization>
        <!-- ? = anonymous/ not authorised-->
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="SsrsPrintSurvey.aspx">
    <system.web>
      <authorization>
        <!-- ? = anonymous/ not authorised-->
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
</configuration>