
	.astreeview-tree, .drag-container{
		margin:0px;
		padding:0px;
		
		z-index:1000;
	}
	.astreeview-tree ul{	/* Sub menu groups */
		margin-left:0px;	/* Left spacing */
		padding-left:20px;
		/*display:none;	 Initially hide sub nodes */
		font-size:14px;
	}
	
	.drag-container ul{
		margin-left:20px;	/* Left spacing */
		padding-left:0px;	
		
	}
	
	/*
	.astreeview-tree .line
	{
		background-image:url(images/astreeview-vertical-line.gif);
		background-position:-8px 0;
		background-repeat:repeat-y;
		float:left;
		margin:0;
		width:1px;
	}
	*/
	
	.astreeview-tree .line-vertical
	{
		background:url(images/astreeview-vertical-line.gif) repeat-y 0px 0px;
	}
	
	.astreeview-tree .line-root
	{
		background:url(images/astreeview-root-line.gif) white no-repeat;
		background-position:0px 2px;
		background-position:0px 3px\9;
		+background-position:0px 4px;
		_background-position:0px 4px;
	}
		
		
	.astreeview-tree .line-top
	{
		background:url(images/astreeview-top-line.gif) white no-repeat 0px 0px;
		background-position:0px 1px;
		background-position:0px 2px\9;
		_background-position:0px 4px;
	}
	
	.astreeview-tree .line-middle
	{
		background:url(images/astreeview-middle-line.gif) white no-repeat;
	}
	
	.astreeview-tree .line-bottom
	{
		background:url(images/astreeview-bottom-line.gif) white no-repeat;
	}
	
	.astreeview-tree .line-none
	{
	}
	
	.astreeview-tree li, .drag-container li{	/* Nodes */
		list-style-type:none;
		vertical-align:middle;
		line-height:16px;
		padding-top:2px;
	}
	.astreeview-tree li a, .drag-container li a{	/* Node links */
		color:#000;
		text-decoration:none;
		font-family:arial;
		/*font-size:0.8em;*/
		padding-left:3px;
		line-height:16px;
		/*margin-left:2px;*/
		font-size:14px;
	}

	.astreeview-tree li a:hover, .drag-container li a:hover
	{
		border-bottom:1px solid #ccc;
		/*color:#000;
		background-color:#e9e9e9;*/
	}
	
	.astreeview-tree img
	{
		/*
		border:0;
		padding:0;
		margin:0;*/
		vertical-align:middle;
		margin-top:-4px;
		margin-top:-3px\9;
		+margin-top:0px;
		_margin-top:0px;
		
	}
	
	.astreeview-plus-minus
	{
		/*margin-bottom:2px;*/
	}
	
	.astreeview-tree li a:normal
	{
	}
	
	.astreeview-tree li a:hover
	{
		text-decoration:none;
	}
	
	.astreeview-tree li a:visited
	{
		/*border-bottom:0px;*/
	}
	
	.astreeview-tree li a.highlighted-node-item{
		color:#FFF;
		background-color:#009;
	}
	
	
	.astreeview-tree input.astreeview-edit-box{	/* Css for the text input - rename item */
		font-size:10px;
		margin:0px;
		padding:0px;
		height:12px;
		background-color:#E0EBF9;
		border-width:1px;
	}
	
	.astreeview-tree li .astreeview-node-selected:link
	, .astreeview-tree li .astreeview-node-selected:hover
	, .astreeview-tree li .astreeview-node-selected:visited{
		background-color:#3e32a7;
		color:white;
	}
	
	.astreeview-ajax-indicator-container
	{
		background-color:#4C94EA;
		
		color:#fff;
		float:left;
		font-size:11px;
		position:absolute;
		padding:5px;
	
		/*
		filter:alpha(opacity=80);
		opacity: 0.8;
		-moz-opacity:0.8;
		*/
		-moz-border-radius-bottomleft:4px;
		-moz-border-radius-bottomright:4px;
		-moz-border-radius-topleft:4px;
		-moz-border-radius-topright:4px;
		border-radius:4px;
		-webkit-border-radius:4px;
		
	}
	
	.astreeview-loading-placeholder
	{
		font-style:italic;
		font-size:10px;
	}
	
/****************  for text node  **********************/
	
	/*for li*/
	.astreeview-text-node img
	{
		vertical-align:baseline;
	}
	
	/*for div inside li*/
	.astreeview-text-node-container
	{
		display:inline-block;
		display:inline-block\9;
		+display:inline;
		_display:inline;
		font-size:14px;
		vertical-align:top;
	}
	
	/*for plus minus image*/
	.astreeview-plus-minus-text
	{
		
	}
	
	/*for checkbox image*/
	.astreeview-checkbox-text
	{
		
	}