USE [SP_anon]
GO
/****** Object:  StoredProcedure [dbo].[vts_spFilterUpdate]    Script Date: 07.04.2014 0:25:30 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
	Survey changes: copyright (c) 2010, Fryslan Webservices TM (http://survey.codeplex.com)	

	NSurvey - The web survey and form engine
	Copyright (c) 2004, 2005 Thomas Zumbrunn. (http://www.nsurvey.org)

	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.

/// <summary>
/// Updates the filter data
/// </summary>
*/
ALTER PROCEDURE [dbo].[vts_spFilterUpdate]
			@FilterID int, 
			@Description varchar(200), 
			@LogicalOperatorTypeID smallint = 0,
			@ParentFilterId int
AS
UPDATE vts_tbFilter SET
	Description = @Description, 
	LogicalOperatorTypeID = @LogicalOperatorTypeID,
	ParentFilterID = @ParentFilterId
WHERE FilterID = @FilterID
