/*Survey Form CSS for Mobile platforms 2014- Twitter BootStrap based*/

.surveybox
{
	width: 100%;
	background-color: #fff;
    color: #000;
	line-height: 23px;
	font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
	vertical-align: top;

}

.surveybox > table
{
    margin-top: 12px;
}


.questionStyle
{
	font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
	color: #000;
	background-color: #fff;
    font-size: 1.2em;
}

tr.questionStyle
{
	padding: 0px 10px 0px 10px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    border: 1px solid #6699CC;

    display: block;

}

.questionStyle > td
{
    width: 1200px;
}


/* Line Spacing for Question text */
tr.questionStyle td > span > div.question-text-div
{
	line-height: 1.5;
	width: 94% !important; 
    margin:3px;
    float:left;
    
}

/* Line Spacing for Question Number */
tr.questionStyle td > span > div.question-number-div
{
	line-height: 1.5;
    padding: 0 3px 0 5px;
    margin:3px;
}

    tr.questionStyle td > span > div.question-text-div > span 
    {
        margin-left:10px;
        color: #ff6a00;
    }

.helpTextSmallFont
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.9em;
	color: #fff;
	background-color: #6699CC;  /* #b1efb1; */
    padding: 2px 3px 2px 10px;
    margin-bottom: 7px;
        margin-right: 5px;

        -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

}

.qvmStyle > td
{
    background: #e80808;
    color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px 15px 5px 10px;

    display: block;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.qvmStyle
{
    background:white;
}


.qvmarkStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25pt;
    line-height: 10px;
    vertical-align: bottom;
    color: floralwhite;
}

/*resumecode message*/
.cmStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
	background-color: #B8F2AB;
	color: green;

        padding: 5px 15px 5px 10px;

    display: block;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}


.soStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 8pt;
	font-weight: bold;
	background-color: #E6EDF1;
	color: #082E44;
    padding-left: 8px;
    display: block;
    border-radius: 7px;
    margin: 2px 15px 2px 0;
}


.buttonStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.answerStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	background-color: #fff;
    color: #000;
}

.answerStyle > td 
{
    padding: 5px 5px 5px 21px;
    margin-bottom: 10px;
}

.answerStyle > td > table
{
    margin-bottom: 10px;
}

.answerStyle > td > span > select
{
    margin: 5px 5px 5px 0;
}

.answerStyle > td > span > input
{
    display: inherit;
}


.answerTextRender
{
	width: auto;
	display: flexbox;
    overflow:auto;
	white-space: normal;
}

.answerTextRender > input
{
    margin: 5px;
}

.answerTextRender > label
{
    font-weight:normal;
    background: white;
    color:black;
    
}

span.answerTextRender > div:nth-child(2)
{
	padding-left: 5px;
    padding-top: 7px;
}

span.answerTextRender > label{color: black;background: white;font-weight: normal; margin-left: 5px;}
span.answerTextRender > div > input {margin: 2px 0 0 0}


.matrixStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	background-color: #F4F9FA;

}


/*Matrix header*/
.mhStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	background-color: #E3EEF6;
}

.mhStyle > td
{

    border-bottom: 1px solid #6699CC;
}

.miStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	background-color: White;
}


.miStyle > td
{
        border:1px solid #6699CC;
        border-right: 0px;
        border-bottom: 0px;
        padding:5px 5px 0 10px;
}

.maiStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.1em;
	background-color: #F4F9FA;
}

.maiStyle > td
{
    border:1px solid #6699CC;
    border-right: 0px;
    border-bottom: 0px;
    padding:5px 5px 0 10px
}

/*section answer grid item css - e.g. upload files */

.sgiStyle
{
	font-family: Arial;
	font-size: 10pt;
	background-color: White;
}
.sgaaisStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	background-color: #F4F9FA;
}
.sgaStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	background-color: #F4F9FA;
    margin: 0 3px 7px 5px;

    border-radius: 7px;
}
.sgahStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
	background-color: #E3EEF6;
}

tr.sgahStyle > td
{
    padding: 3px 3px 3px 7px;
}

tr.sgaaisStyle> td
{
    padding: 3px 3px 3px 7px;
}

tr.sgiStyle > td
{
    padding: 3px 3px 3px 7px;
}





.footStyle
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	background-color: White;
	color: #6699CC;
}


tr.footStyle > td 
{  
	line-height: 2.5;
    display: block; 
    clear:both;
    float: left;

    padding: 10px 0 10px 0;
}

    tr.footStyle > td > table > tbody > tr > td 
    {
        padding: 10px 10px 0 0px;
    }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{
    tr.footStyle > td > table > tbody > tr > td 
    {
        line-height: 1.3;
        display: block;
        clear: both;
        float: left;
    }
}

/*surveybox language dropdown list*/
.lddl 
{
    width:250px;
    margin: 5px 15px 15px 0;
}
.tablelddl 
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
}

/*resumecode table*/

.rct
{
    width:250px;
    margin: 5px 15px 15px 0;

   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2em;
}

.rct > tbody > tr > td
{
    padding: 10px 0 5px 0;
}

.rct > tbody > tr > td > input
{
    margin-right:10px;
}

/*Matrix question*/

.scrollableDiv
{
	overflow: auto;
	width: auto;
    margin:10px;
    border-radius: 7px;
    border:1px solid #6699CC;
}

/*completion message*/
.thanksboxCss
{
    width: 100%;
    /*color: #000;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.9em;*/
    margin:10px;
}

/*calender Answerfield*/
.calendarStyle
{
    	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.0em;
	width: 260px;
}

.calendarStyle tr:nth-of-type(1) > td
{
    background-color: #6699CC;
    color: #fff;
}


.errorMessage
{
    /*background: #e80808 url(../../images/warning-icn.png) no-repeat 10px 5px;*/
    background: #e80808;
    color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.8em;
    font-weight: bold;
    padding: 0px 15px 2px 10px;
    
    border-radius: 7px;
      -moz-border-radius: 7px;
     -webkit-border-radius: 7px;
     display: block;
}

.fileuploadbuttonmargin
{
    margin: 0 5px;
}