<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ASTreeView" version="1.6.0.4" targetFramework="net45" />
  <package id="bootstrap" version="4.4.1" targetFramework="net45" />
  <package id="ckeditor-full" version="4.14.0" targetFramework="net45" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net45" />
  <package id="html5-shiv" version="3.7.3" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net45" />
  <package id="itextsharp.xtra" version="5.5.11" targetFramework="net45" />
  <package id="jQuery" version="3.3.1" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net45" />
  <package id="jQuery.UI.i18n" version="1.10.2" targetFramework="net45" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.1000.523" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net45" developmentDependency="true" />
  <package id="NuGet.CommandLine" version="3.5.0" targetFramework="net45" developmentDependency="true" />
  <package id="popper.js" version="1.16.0" targetFramework="net45" />
  <package id="Respond" version="1.4.2" targetFramework="net45" />
</packages>