<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
   -->   
    <connectionStrings>
      <add name="SurveyProjectDevConnectionString" 
        connectionString="Data Source=[YourSqlServer];Initial Catalog=[YourSpDBname];Persist Security Info=True;User ID=[youruser];Password=[yourpassword]" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <dataConfiguration defaultDatabase="SurveyProjectDevConnectionString" xdt:Transform="Replace"/>

  <system.web>
    <compilation debug="true" batch="true" targetFramework="4.5" xdt:Transform="Replace"/>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      -->
    <customErrors allowNestedErrors="false" defaultRedirect="~/Errors/DefaultRedirectErrorPage.aspx?handler=customErrors%20section%20-%20Web.config"
    redirectMode="ResponseRedirect" mode="Off" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Errors/ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>

  </system.web>

  <nSurveySettings>
    <add key="NSurveySMTPServer" value="[yourmailserver]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NSurveySMTPServerPort" value="[yourportnr]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NSurveySMTPServerAuthUserName" value="[YourUsername]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NSurveySMTPServerAuthPassword" value="[YourPassword]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </nSurveySettings>
</configuration>