<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
      <add name="SurveyProjectDevConnectionString"
          connectionString="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="SurveyProjectTestConnectionString"
          connectionString="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>      
      <add name="SurveyProjectProdConnectionString" 
        connectionString="Data Source=[dbservername];Initial Catalog=[dbname];Persist Security Info=True;User ID=[dbuser];Password=[dbpassword]" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <dataConfiguration defaultDatabase="SurveyProjectProdConnectionString" xdt:Transform="Replace"/>

  <system.web>
        <!--
    <compilation xdt:Transform="RemoveAttributes(debug)" />

      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      -->
    <compilation debug="false" batch="true" targetFramework="4.6" xdt:Transform="Replace">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>   

       <customErrors allowNestedErrors="true" defaultRedirect="~/Errors/ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config"
       redirectMode="ResponseRedirect" mode="Off" xdt:Transform="Replace">
         <error statusCode="404" redirect="~/Errors/ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
      </customErrors>
  </system.web>

  <nSurveySettings>
  <add key="NSurveySMTPServer" value="[mailservername]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="NSurveySMTPServerPort" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="NSurveySMTPServerAuthUserName" value="[username]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="NSurveySMTPServerAuthPassword" value="[password]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </nSurveySettings>
  
</configuration>