<configuration>
  <!-- register local configuration handlers -->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral" requirePermission="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="nSurveySettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <!-- selection of database connection options & settings-->
  <connectionStrings>
    <add name="SurveyProjectDevConnectionString" connectionString="Data Source=.\sqlexpress12;Initial Catalog=[db];Persist Security Info=True;User ID=sa;Password=[pwrd]" providerName="System.Data.SqlClient" />
    <add name="SurveyProjectTestConnectionString" connectionString="Data Source=.\sqlexpress12;Initial Catalog=[db];Persist Security Info=True;User ID=sa;Password=[pwrd]" providerName="System.Data.SqlClient" />
    <add name="SurveyProjectProdConnectionString" connectionString="Data Source=.\sqlexpress12;Initial Catalog=[db];Persist Security Info=True;User ID=sa;Password=[pwrd]" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- Survey Project database connection: to select connectionsetting options see connectionStrings-->
  <dataConfiguration defaultDatabase="SurveyProjectTestConnectionString" />
  <appSettings>
    <!-- Filemanager CKEditor MVC settings: -->
    <add key="Filemanager_RootPath" value="Images" />
    <add key="Filemanager_IconDirectory" value="Filemanager/images/fileicons/" />
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="index.htm" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".otf" />
      <remove fileExtension=".svg" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".otf" mimeType=" application/font-sfnt" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <handlers>
      <add name="StaticHandlerOtf" verb="*" path="*.otf" type="System.Web.StaticFileHandler" preCondition="integratedMode"/>
      <add name="StaticHandlerSvg" verb="*" path="*.svg" type="System.Web.StaticFileHandler" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!-- The system.webServer section is required for IIS7 compatability It is ignored by IIS6-->
  <!--
		For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
  <system.web>
    <!-- Disabling request validation for your application
               To disable request validation for your application, you must modify or create a Web.config file 
               for your application and set the validateRequest attribute of the <PAGES /> section to false: 
               Reference: http://www.asp.net/faq/RequestValidation.aspx
               <pages validateRequest="false" /> 
               -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="524288000" enable="True" executionTimeout="7200" />
    <httpHandlers>
    </httpHandlers>
    <!-- set debugmode to false for running application ; batch compilation on first run-->
    <compilation debug="true" batch="true" targetFramework="4.5" />
    <trace enabled="false" pageOutput="false" />
    <!-- permits errors to be displayed for remote clients: On, Off, RemoteOnly -->
    <customErrors mode="Off" defaultRedirect="HttpErrorPage.aspx">
    </customErrors>
    <!--  GLOBALIZATION
		This section sets the globalization settings of the application. 
		Utf-8 is not supported on Netscape 4.x 
		If you need netscape compatiblity leave iso-8859-1.
		UTF-8 is recommended for complex languages
		-->
    <!-- culture/ uiculture: if set to "auto" will pick up culture/ language of preferred browser settings.
                     To explicitely pick a culture/ language, replace auto with "en-US" or "nl-NL" for example.
                 -->
    <globalization culture="auto" uiCulture="auto" />
    <!-- Forms or Windows authentication; cookie expiration timeout in MM (minutes)-->
    <authentication mode="Forms">
      <forms name="NSurveyWebAuth" loginUrl="~/default.aspx" protection="None" timeout="60">
      </forms>
    </authentication>
    <!--
		    <identity impersonate="true"/>
		    <authentication mode="Windows">
		    </authentication>
                 -->
  </system.web>
  <location path="XmlData">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NSurveyAdmin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="NSurveyAdmin/login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <nSurveySettings>
    <!-- Path where you copied the nsurvey images, results bar must be in the ~/images/bar directory -->
    <add key="NSurveyImagesPath" value="~/images/" />
    <add key="NSurveyXmlDataPath" value="~/XmlData/" />
    <add key="NSurveyLanguagesPath" value="~/XmlData/Languages/" />
    <add key="NSurveyHelpfilesPath" value="~/XmlData/Helpfiles/" />
    <!-- SMTP Server used to send out the standard and invitation emails -->
    <add key="NSurveySMTPServer" value="" />
    <add key="NSurveySMTPServerPort" value="2525" />
    <add key="NSurveySMTPServerAuthUserName" value="" />
    <add key="NSurveySMTPServerAuthPassword" value="" />
    <!-- Enable Secure Socket Layer (SSL) connection to SMTP server: true/ false-->
    <add key="NSurveySMTPServerEnableSsl" value="false" />
    <add key="EmailingProviderAssembly" value="Votations.NSurvey.Emailing" />
    <add key="EmailingProviderClass" value="Votations.NSurvey.Emailing.SystemWebEmailing" />
    <!-- User provider determined through Userprovider assembly -->
    <add key="UserProviderAssembly" value="Votations.NSurvey.UserProvider" />
    <add key="UserProviderClass" value="Votations.NSurvey.UserProvider.FormUserProvider" />
    <!-- 
			You can run nsurvey in a single user mode 
			and let the default FormUserProvider create 
			a "dummy" admin user on the fly. If enabled user management 
			and access right checking features will be disabled.
		-->
    <add key="FormUserProviderSingleMode" value="false" />
    <!-- Do we allow the use of database queries using Sql based answer types ?	-->
    <add key="SqlBasedAnswerTypesAllowed" value="true" />
    <!-- Assembly and pages that use the assembly must be in the same virtual directory -->
    <add key="WebDAL" value="Votations.NSurvey.SQLServerDAL" />
    <!-- former databaseconnection string: used up to SP v. 2.1 ; redundant in SP 2.2 -->
    <!--  <add key="NSurveyConnectionString" value="Server=;Database=;uid=sa;pwd=" /> -->
    <!-- File upload answeritems settings -->
    <!-- How many hours can unvalidated uploaded files stay in the database -->
    <add key="UploadedFileDeleteTimeOut" value="24" />
    <!-- 
			How many hours can uploaded files for sessions that has no 
			yet been resumed stay in the database. Leave some time
			because user wont get notified if its session have been deleted
			when he resumes
		-->
    <add key="SessionUploadedFileDeleteTimeOut" value="336" />
  </nSurveySettings>
</configuration>