USE [dbname]
GO
/****** Object:  StoredProcedure [dbo].[vts_spVoterDeleteAll]    Script Date: 7/12/2018 15:39:38 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
	Survey Project: (c) 2016, Fryslan Webservices TM (http://survey.codeplex.com)

	NSurvey - The web survey and form engine
	Copyright (c) 2004, 2005 Thomas Zumbrunn. (http://www.nsurvey.org)

	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.

/// <summary>
/// Deletes all voters from the DB
/// </summary>
/// <param name="@SurveyID">
/// Survey id from which to delete the voters
/// </param>
*/
ALTER PROCEDURE [dbo].[vts_spVoterDeleteAll] @SurveyID int
AS
DELETE FROM vts_tbVoterEmail WHERE VoterID IN (SELECT VoterID FROM vts_tbVoter WHERE SurveyID = @SurveyID)

-- OLD: DELETE FROM vts_tbVoter WHERE SurveyID = @SurveyID

DECLARE @Deleted_Rows INT;
SET @Deleted_Rows = 1;

WHILE (@Deleted_Rows > 0) BEGIN

   BEGIN TRANSACTION TestDelete

   -- Delete small batch of rows at a time
     DELETE TOP (100) vts_tbvoter
     WHERE SurveyID = @SurveyID

     SET @Deleted_Rows = @@ROWCOUNT;

   COMMIT TRANSACTION
   CHECKPOINT -- for simple recovery model
END


